.bcg-blue {
  background-image: url('images/blue.png');
  background-size: 100% 100%;
}
.bcg-pink {
  background-image: url('./images/pink.png');
  background-size: 100% 100%;
}
.bcg-yellow {
  background-image: url('~/images/yellow.png');
  background-size: 100% 100%;
}
.bcg-green {
  background-image: url('/images/green.png');
  background-size: 100% 100%;
}
.blue-bg {
  background-image: url('images/blue.png');
  background-size: 100% 100%;
}
.pink-bg {
  background-image: url('./images/pink.png');
  background-size: 100% 100%;
}
.yellow-bg{
  background-image: url('~/images/yellow.png');
  background-size: 100% 100%;
}
.green-bg {
  background-image: url('/images/green.png');
  background-size: 100% 100%;
}
